// HEADER
//
// BEM
// --------------------------------------------------

/* Header */
@include keyframe(menu_open) {
  0% {
    height: 56px;
  }
  to {
    height: 212px;
  }
}
.header-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  text-align: left;
  z-index: 4;
  overflow: hidden;
  $this: &;
  * {
    color: $white
  }
  &.opened {
    @include animation(menu_open, .3s, ease);
  }
  &--mob {
    background-color: rgba(34, 34, 34, 0.95);
    @include prefix(transition, all .3s, webkit);
  }
  &--colored {
    background-color: $dark_grey_alpha;
  }
  &__navbar {
    @include sm {
      margin: 15px 0 5px;
      float: left;
    }
    @include md {
      margin: 30px 0 0;
      float: right
    }
    @include prefix(transition, all .3s, webkit);
    &-toggler {
      @extend %mob-visible;
      visibility: hidden
    }
    &-icon {
      @extend %mob-visible;
      width: 25px
    }
    &-toggler:checked ~ .menu {
      display: block
    }
    &-btn {
      @include md {
        display: none
      }
    }
    // for mobile screen
    &--opened > .menu {
      @include sm {
        display: block;
      }
    }
  }
  &--colored {
    #{$this}__navbar {
      @include sm {
        margin: 15px 0 5px;
      }
      @include md {
        margin: 8px 0;
      }
      @include prefix(transition, all .3s, webkit)
    }
    .brand {
      @include md {
        margin-top: 6px;
      }
      &-logo {
        @include md {
          width: 25px;
          vertical-align: sub;
        }
      }
    }
  }
}

.brand {
  font-weight: 600;
  line-height: 32px;
  @include prefix(transition, all .3s, webkit);
  &--header {
    @include sm {
      margin-top: 12px
    }
    @include md {
      margin-top: 24px
    }
    display: inline-block;
    font-size: 28px;
    @include sm {
      float: right
    }
    @include md {
      float: none
    }
  }
  &-logo {
    fill: none;
    @include sm {
      width: 25px;
      vertical-align: inherit
    }
    @include md {
      width: 31.5px;
      height: 31.5px;
      vertical-align: auto
    }
    path {
      fill-rule: evenodd;
      clip-rule: evenodd;
      fill: $white
    }
  }
}

/* Header menu */
.menu {
  @extend %mob-hidden;
  &__item {
    vertical-align: top;
    @include sm {
      display: block;
      line-height: 2
    }
    @include md {
      display: inline-block;
      line-height: inherit
    }
    a {
      @include sm {
        display: table;
        padding: 5px 0
      }
      @include md {
        display: block;
        padding: 5px 15px
      }
      font-size: 14px;
      font-weight: normal;
    }
  }
}