/* TweenMax slider Controls */
.b-slider {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
}
.b-slider img {
  max-width: 100%
}
.b-slider__container {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
  margin: 0;
  padding: 0;
  font-size: 0;
  list-style: none;
  white-space: nowrap;
}

.b-slider__item {
  position: relative;
  height: 100%;
  width: 100%;
  display: inline-block;
}
.b-slider__item-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 16px;
  /*visibility: hidden;*/
}
.b-slider__item-content {
  text-align: center;
  z-index: 1
}
.b-slider__item-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-size: cover !important;
  background: linear-gradient(180deg, rgba(5, 13, 29, .6) 11%, rgba(5, 13, 29, 0) 90.3%);
}
.b-slider__item:nth-child(1) .b-slider__item-bg {
  background-image: linear-gradient(180deg, rgba(5, 13, 29, .6) 11%, rgba(5, 13, 29, 0) 90.3%), url(../img/banner/banner-photo1.png);
}
.b-slider__item-title {
  font-weight: 600;
  font-size: 90px;
  line-height: 100px;
}
.b-slider__item-description {
  margin-top: 35px;
  font-weight: 600;
  font-size: 18px;
}
.b-slider__item-btn {
  margin-top: 70px;
}
.b-slider__item-video {
  position: absolute;
  margin-top: -60px;
  width: 100%;
  height: calc(100% + 60px);
}

/* TweenMax slider Controls */
.b-slider-controls {
  width: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate3d(0px, -50%, 0px);
          transform: translate3d(0px, -50%, 0px);
  z-index: 10;
}

.b-slider-controls > .previous,
.b-slider-controls > .next {
  position: absolute;
  width: 64px;
  height: 64px;
  display: block;
  cursor: pointer;
  border: none;
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-size: 64px;
  background-color: transparent;
  background-repeat: no-repeat;
}

.b-slider-controls > .next {
  right: 20px;
  background-image: '→';
}

.b-slider-controls > .previous {
  left: 20px;
  background-image: '←';
}

.b-slider-navigation {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 105px;
  text-align: center;
  z-index: 3;
}

.b-slider-navigation > li {
  position: relative;
  display: inline-block;
  margin-right: 12px;
}

.b-slider-navigation > li > a {
  display: inline-block;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #fff;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.b-slider-navigation > li > a.is-active {
  border: 1px solid #00A031;
  background: #00A031;
}
.b-slider-navigation > li > a.is-active:after {
  top: 1px;
  left: -4px;
  width: 19px;
  border-radius: 15px;
  border: 1px solid #00A031;
  position: absolute;
  height: 19px;
  content: '';
}

.section {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*.grid {
  display: table;
}

.grid > .column {
  width: 50%;
  display: table-cell;
  vertical-align: middle;
}

.grid > .column:first-child {
  text-align: right;
}

.slide-burger {
  background: #CF624A;
}

.slide-astronaut {
  background: #22231D;
}

.slide-coffee {
  background: #836C54;
}

.title {
  font-size: 60px;
  font-weight: 100;
  color: #FFF;
  text-transform: uppercase;
}

@media only screen and (min-width: 768px) {
  .title {
    font-size: 7em;
  }
}*/
/*# sourceMappingURL=application.css.map */