/*----------------------------------------------------------------------------*\
	$PAGE-STYLES
  BEM
\*----------------------------------------------------------------------------*/

/* Mixins */
@mixin prefix($property, $value, $prefixes: ()) {
  @each $prefix in $prefixes {
    #{'-' + $prefix + '-' + $property}: $value;
  }
  // Output standard non-prefixed declaration
  #{$property}: $value;
}
// @mixin odd() {
//   &:nth-child(odd) {
//     @content;
//   }
// }

/* IMPORTS */
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&display=swap&subset=latin-ext');
/*@font-face {
    font-family: 'Poppins';
    src: local('Poppins Bold'), url('Poppins-Bold.ttf') format('truetype');
}*/
@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Regular'), url('../fonts/Gilroy-Regular.ttf') format('truetype');
}
//https://css-tricks.com/snippets/css/using-font-face/

// html {
// 	font: 1em/1.5 sans-serif;
// }
/*----------------------------------------------------------------------------*\
	$DROPDOWN
	Preview: rawgithub.com/Idered/snippets/master/MIXED/dropdown/index.html
	<div class="dropdown">
		<div class="dropdown__text">Your account</div>
		<div class="dropdown__toggle"></div>
		<ul class="dropdown__content">
			<li><a href="">Profile</a></li>
			<li><a href="">Settings</a></li>
			<li><a href="">Friends</a></li>
			<li><a href="">Go pro</a></li>
			<li><a href="">Sign out</a></li>
		</ul>
	</div>
\*----------------------------------------------------------------------------*/


/* ANIMATIONS */
// Add vendor prefixes to keyframes
@mixin keyframe ($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}

// Mixin for animation
@mixin animation($animation, $duration, $transition) {
  -webkit-animation-name: $animation;
  -webkit-animation-duration: $duration;
  -webkit-animation-timing-function: $transition;
  animation-name: $animation;
  animation-duration: $duration;
  animation-timing-function: $transition
}

/* VARIABLES */
//$fonts: Arial, "Hiragino Kaku Gothic Pro W3", Meiryo, sans-serif;
$bg_color: #2d3042;
$font_color: #efefef;
$link_color: #efefef;
$link_hover_color: #fff;

$selected: '--selected';

/* GENERAL STYLES */
%elem-before { // class-placeholder (not for BEM classes)
  position: absolute;
  content: ''
}

* { // *:before, *:after
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: #6C6C6C;
}

p, a, span, li {
  font-size: 16px
}

p {
  line-height: 24px;
  letter-spacing: .2px
}

h1, h2, h3, address {
  color: #00A031;
  font-weight: 700; /*600*/
}

a, button {
  font-family: 'Gilroy', sans-serif;
}

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


/* CONSTRUCTOR */
.clearfix {
  width: 100%;
  overflow: auto;
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}

.c--flex {
  display: flex;
  &-centered {
    justify-content: center;
    align-items: center;
  }
}

@include keyframe(showed) {
  0% {opacity: 0}
  to {opacity: 1}
}

.c--showed {
  @include animation(showed, .3s, linear)
}

.c--hidden {
  display: none
}

.link {
  text-decoration: none;
  text-transform: uppercase;
  @include prefix(transition, color .3s, webkit);
  &:hover {
    color: rgba(255,255,255,.6);
  }
  &--green {
    color: #00A031;
    &:hover {
      color: rgba(0, 160, 49, .6);
    }
  }
  &--header {
    display: inline-block;
    text-decoration: none;
    font-weight: 500; /*600*/
    letter-spacing: .2px;
    &::after {
      content: '';
      display: block;
      width: 0;
      height: 1px;
      background: #fff;
      @include prefix(transition, width .3s, webkit)
    }
    &:hover, &.active {
      color: #fff;
      &::after {
        width: 100%
      }
    }
  }
}

.btn {
  padding: 16px 23px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
  border: none;
  outline: none;
  @include prefix(transition, all .3s, webkit);
  &--filled {
    color: #fff;
    background-color: #00A031;
    :hover {
      opacity: .6;
    }
  }
  &--bordered {
    background-color: #fff;
    color: #00A031;
    border: 2px solid #00A031;
    &:hover {
      background-color: #00A031;
      color: #fff;
      .btn__arrow path {
        stroke: #fff;
      }
    }
    // Alter elements based on a block-level modifier (acording to http://getbem.com/naming)
    .btn__arrow {
      margin-left: 10px;
      width: 25px;
      height: 6px;
      vertical-align: middle;
    }
    .btn__arrow path {
      fill: none;
      stroke-width: 2px;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke: #00A031;
    }
  }
}

.brand {
  font-weight: 600;
  line-height: 32px;
  .brand-logo {
    width: 31.5px;
    height: 31.5px;
    fill: none;
    path {
      fill-rule: evenodd;
      clip-rule: evenodd;
      fill: #fff
    }
  }
}


/* THEME STYLES */

/* Header */
.header-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  text-align: left;
  z-index: 3;
  * {
    color: #fff
  }
  h1 {
    display: inline-block;
    font-size: 22px;
    font-weight: bold;
    margin-top: 25px;
  }
  &--colored {
    background-color: rgba(34, 34, 34, .6);
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.08);
  }
  &__navbar {
    float: right;
    margin-top: 30px;
    ul {
      li {
        display: inline-block;
        vertical-align: top;
        a {
          display: block;
          padding: 5px 15px;
          font-size: 14px;
          font-weight: 600;
        }
      }
    }
  }
}

.brand--header {
  margin-top: 27px;
  display: inline-block;
  font-size: 28px;
}

/* Banner */
#banner {
  width: 100%;
  height: 100vh;
  * {
    color: #fff
  }
}

/* Services */
// %services-flex { // class-placeholder
//   justify-content: center;
//   align-items: center;
// }

// CSS values
$circle_radius: 15vw;
$edge_expand: 110px;
$decor_adjust: 26%;

.services {
  &__chain {
    position: absolute;
    fill: none;
    z-index: -1;
    &-path {
      width: 100%;
      height: 100%;
      stroke: #29A0EC
    }
    &-point {
      position: absolute;
      margin: -83px 0 0 -63px;
    }
  }
  &__item {
    //@include odd() {}
    justify-content: center;
    align-items: center;
    margin-top: 90px
  }
  &__item-visual {
    img {
      margin-top: 90px;
      max-width: 50%
    }
  }
  &__item-title {
    font-weight: 800;
    font-size: 38px;
    line-height: 51px;
    letter-spacing: .4px;
  }
  &__item-description {
    margin: 25px 0 20px;
    font-size: 16px;
    letter-spacing: .2px;
  }
  &__item-particulars {
    margin-bottom: 30px;
    padding-left: 30px;
    display: table;
    font-size: 38px;
    line-height: 51px;
    letter-spacing: 0.4px;
    text-align: left;
    li {
      line-height: 24px;
      &::before {
        @extend %elem-before;
        content: url(../img/services/included.svg);
        @include prefix(transform, translateX(-30px), webkit);
        width: 30px;
        height: 30px;
        z-index: 3
      }
    }
  }
}

.overlay-bg {
  position: absolute;
  height: 100%;
  .overlay-bg--left {
    left: $decor_adjust;
  }
  .overlay-bg--right {
    right: $decor_adjust;
  }
  &__ring {
    position: absolute;
    border-radius: 50%;
    top: 12%;
    width: $circle_radius;
    height: $circle_radius;
    background-color: #EBF3ED;
    z-index: -1;
    &::before {
      @extend %elem-before;
      top: 17%;
      left: 16%;
      width: 47%;
      height: 47%;
      border-radius: 50%;
      border: 30px solid #fff;
      background-color: #fff;
    }
  }
  &__edge { // svg
    // stroke-width: 5%;
    margin-top: -$edge_expand/2;
    margin-left: -$edge_expand/2;
    width: calc(#{$circle_radius} + #{$edge_expand});
    height: calc(#{$circle_radius} + #{$edge_expand})
  }
}

/* Team */
.team {
  margin-top: 245px;
  &__item {
    &-title {
      font-weight: 800;
      font-size: 38px;
      letter-spacing: .4px;
    }
    &-position {
      font-family: 'Gilroy', sans-serif;
      text-transform: uppercase;
      font-style: normal;
      letter-spacing: 3px;
    }
    &-description {
      margin: 40px 0;
      letter-spacing: .2px;
    }
    &-social li {
      float: left;
      padding-right: 25px;
      &::before {
        content: '\2022';
        color: #D8D8D8
      }
      a {
        margin-left: 10px; 
        letter-spacing: 3px;
        &:hover {
          color: inherit;
        }
      }
    }
    &--last {
      opacity: .6;
      &:hover {
        color: #00A031
      }
    }
  }
  &__nav {
    align-items: center;
    margin-top: 70px;
    max-height: 490px;
    $this: &;
    &--prev, &--next {
      cursor: pointer
    }
    &_photo {
      max-width: 100px;
      text-align: right;
      img {
        width: auto;
        max-height: 490px;
      }
    }
    &-next_name {
      margin-top: 10px;
      color: #00A031;
      font-weight: 600;
      font-size: 18px;
      line-height: 1
    }
    &-text {
      flex: auto;
      display: inline-flex;
      justify-content: space-between;
      padding: 0 20px;
      & * {
        color: #00A031;
      }
      & &_content#{$this}--next &_move::after {
        @extend %elem-before;
        content: url(../img/team/arrow-next.svg);
        width: 40px;
        text-align: right;
      }
      // & &_content#{$this}--next_end &_move::after {
      //   content: url(../img/team/arrow-next-end.svg);
      // }
      & &_content#{$this}--prev &_move::before {
        @extend %elem-before;
        content: url(../img/team/arrow-prev.svg);
        @include prefix(transform, translateX(-40px), webkit)
      }
      & &_content#{$this}--endpoint {
        opacity: .6;
        ::before {
          opacity: .5
        }
        #{$this}-text_name {
          display: none
        }
      }
      &_content#{$this}--prev {
        text-align: right
      }
      &_move {
        text-transform: uppercase;
        letter-spacing: 1px;
      }
      &_name {
        display: block;
        font-size: 18px;
        font-weight: 600;
        line-height: 2.5;
      }
    }
  }
  &__slider {
    height: 35vw;
		position: relative;
		perspective: 1000px;
		transform-style: preserve-3d;
  }
  &__slide {
    &-pick {
      display: none;
    }
    &-item {
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      width: 100%;
      height: max-content;
      max-height: 535px;
      //cursor: auto;
      @include prefix(transition, transform .5s ease, webkit)
    }
    &-photo {
      object-fit: cover;
			overflow: hidden;
    }
  }
}

#team-sel-1:checked ~ #team-sl-1, #team-sel-2:checked ~ #team-sl-2, #team-sel-3:checked ~ #team-sl-3 {
	transform: translate3d(0,0,0);
}
/* Rank 2 */
#team-sel-1:checked ~ #team-sl-2, #team-sel-2:checked ~ #team-sl-3, #team-sel-3:checked ~ #team-sl-1 {
	transform: translate3d(50px,0,-100px);
	opacity: .5;
}
/* Rank 3 */
#team-sel-1:checked ~ #team-sl-3, #team-sel-2:checked ~ #team-sl-1, #team-sel-3:checked ~ #team-sl-2 {
	transform: translate3d(93px,0,-200px);
	opacity: .2;
}

/* Contacts */
.contacts {
  margin-top: 200px;
  margin-bottom: 200px;
  &__title {
    font-size: 52px;
    line-height: 60px;
  }
  &__address {
    margin-top: 15px
  }
  &__items {
    margin-top: 55px;
    max-width: 285px;
  }
  &__item {
    margin-bottom: 30px;
    padding: 20px 5px 20px 50px;
    line-height: 24px;
    flex-direction: column;
    cursor: pointer;
    &::before {
      @extend %elem-before;
      content: url(../img/contacts/map.svg);
      @include prefix(transform, translateX(-40px), webkit);
      width: 30px;
      height: 30px;
      z-index: 3;
    }
    &--active {
      box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.08);
      &::before {
        content: url(../img/contacts/map-active.svg);
      }
    }
    &-icon {
      min-width: 40px;
      svg {
        width: 24px;
        height: 25px;
        fill: none;
      }
      path {
        fill: #bbb
      }
      &--active path {
        fill: #00A031
      }
    }
    &-address {
      font-size: 18px;
      font-style: normal;
      line-height: 28px;
      letter-spacing: .2px;
      .link {
        text-transform: none;
      }
    }
  }
  &__map {
    $right: 100px;
    margin-right: $right;
    width: calc(100% - #{$right});
    height: 755px;
  }
  &__info {
    width: 320px;
    float: right;
    $this: &;
    $title_color: #1C201E;
    &-content {
      @extend #{$this};
      margin-top: 135px;
      min-width: 320px;
      position: absolute;
      z-index: 1;

      padding: 25px 58px 45px;
      background-color: #fff;
      box-shadow: 0px 40px 40px rgba(0, 0, 0, 0.08);
    }
    &-title {
      color: $title_color;
      font-weight: 800;
      font-size: 38px;
      line-height: 51px;
      letter-spacing: 0.4px;
    }
    &-address {
      margin: 8px 0 10px;
    }
    &-details {
      margin-top: 20px;
    }
    &-detail {
      &_icon {
        display: inline;
        vertical-align: middle;
        margin-right: 15px;
        fill: none;
        path {
          fill: #00A031
        }
      }
      &_name {
        margin-bottom: 10px;
        color: $title_color;
        font-weight: 600;
        font-size: 18px;
        line-height: 28px;
      }
      &_text {
        color: #999;
        font-size: 14px;
      }
    }
    mark {
      color: #222;
      background-color: transparent
    }
  }
}

/* Footer */
.page__footer {
  background-color: #222;
  text-align: center;
  &-brand {
    padding-top: 62px;
    color: #fff;
    font-size: 48px;
    text-align: center
  }
  &-nav {
    display: table;
    margin: 50px auto;
    &_list li {
      float: left;
      padding-right: 25px;
      color: #777;
      a {
        margin-left: 10px;
        letter-spacing: 3px;
      }
    }
  }
  &-copyrights {
    margin-bottom: 62px;
    color: #777;
    font-size: 14px;
    letter-spacing: 0.2px
  }
}

.brand--footer .brand-logo {
  width: 45px;
  height: 45px
}
